.reservation {
  height: 960px;
  padding: 100px 0 120px;
  position: relative;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 385px;
  margin: 0 auto;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.reservation__fieldset {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0;
  padding: 0;
  border: none;
  width: 385px;
}

.reservation__fieldset_book-table {
  margin: 32px 0 0;
  border: hidden;
  width: 385px;
  display: flex;
  align-items: center;
}

.reservation__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}

.reservation__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 8px 0 32px;
  padding: 15px 20px 15px;
  width: 385px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.reservation__input_button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  color: #ffffff;
  margin: 0 0 32px;
  border-radius: 4px;
  border: none;
  padding: 20px 0;
}

.reservation__input_checkbox {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  margin-right: 12px;
  border-radius: 2px;
}

.checkbox {
  display: flex;
}
