.page {
  max-width: 1600px;
  min-width: 1100px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header__title {
  margin: 183px 0 0;
  max-width: 729px;
  line-height: 72px;
  font-size: 60px;
  font-family: "Noto Serif" "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__title::first-line {
  color: #3f96f3;
  font-style: italic;
}

.header__span-title {
  display: block;
  letter-spacing: -0.6px;
  font-style: italic;
  font-family: "Inter";
  font-weight: 500;
  color: #000000;
}

.header__description {
  max-width: 683px;
  margin: 28px 0 0;
  font-size: 20px;
  line-height: 30px;
}

.header__span-description {
  display: block;
  font-family: "Noto Serif";
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer_time {
  display: flex;
  flex-direction: column;
}

.header__link {
  color: #e96e3a;
  text-decoration: none;
}

.header__link:hover {
  color: #d35722;
}

.header__address {
  margin: 0;
  color: #838383;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.nav__logo {
  width: 105px;
  height: 39px;
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  margin: 0;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  position: relative;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.nav__link:hover {
  color: #d35722;
}

.recipes {
  height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 100px 0 0;
  max-width: 580px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 80px 0 215px;
}

.recipes__iframe {
  width: 480px;
  height: 270px;
}

.recipes__video-caption {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 24px 0 0;
}

.reservation {
  height: 960px;
  padding: 100px 0 120px;
  position: relative;
  box-sizing: border-box;
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 385px;
  margin: 0 auto;
}

.reservation__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0;
  padding: 0;
  border: none;
  width: 385px;
}

.form__fieldset_book-table {
  margin: 32px 0 0;
  border: hidden;
  width: 385px;
  display: flex;
  align-items: center;
}

.form__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
}

.form__input {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 8px 0 32px;
  padding: 15px 20px 15px;
  width: 385px;
  border: 1px solid #838383;
  border-radius: 4px;
}

.form__input_button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #1878dc;
  color: #ffffff;
  margin: 0 0 32px;
  border-radius: 4px;
  border: none;
  padding: 20px 0;
}

.form__input_checkbox {
  width: 20px;
  height: 20px;
  margin: 0 12px 0 0;
  margin-right: 12px;
  border-radius: 2px;
}

.checkbox {
  display: flex;
}
